<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RiskDetected.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>91</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>574D5EA3BF255C22F34118943F156BC5A4BDF1E3</string>
				<key>dateExpires</key>
				<string>15.05.2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
						<string>arm64e</string>
					</array>
					<key>buildNumber</key>
					<string>18.1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>574D5EA3BF255C22F34118943F156BC5A4BDF1E3</string>
						<key>dateExpires</key>
						<string>15.05.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68CU98HAY3</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
						<string>arm64e</string>
					</array>
					<key>buildNumber</key>
					<string>18.1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>574D5EA3BF255C22F34118943F156BC5A4BDF1E3</string>
						<key>dateExpires</key>
						<string>15.05.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68CU98HAY3</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
						<string>arm64e</string>
					</array>
					<key>buildNumber</key>
					<string>18.1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>574D5EA3BF255C22F34118943F156BC5A4BDF1E3</string>
						<key>dateExpires</key>
						<string>15.05.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68CU98HAY3</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>68CU98HAY3.com.riskdetected.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>68CU98HAY3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RiskDetected.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e300e5bc-aad7-4f7d-a366-3370e4d06e90</string>
				<key>dateExpires</key>
				<string>15.05.2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.riskdetected.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>68CU98HAY3</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.3</string>
		</dict>
	</array>
</dict>
</plist>
